/* For styling the rendered Markdown */

/* Variables */
:root {
    /* Colors */
    --blockquote: #bb9af7;
    --bold: #ff9e64;
    --code-background: #14151f;
    --italic: #2ac3de;
    --h1: #dc8b09;
    --h2: #f6a523;
    --h3: #f8b954;
    --h4: #facd85;
    --h5: #fce1b6;
    --link: #44d62c;
    --table-head-line: #828bb8;
    --table-body-line: #444a73;

    /* Fonts */
    --font-mono: "Fira Code", monospace;
    --standard-font-size: 14px;
    --code-font-weight: 500;
    --header-font-weight: 700;
    --list-font-weight:600;
}

body {
    font-family: var(--font-mono);
    font-size: var(--standard-font-size);
    font-weight: 400;
}


/* Bold text */
strong {
    color: var(--bold);
}


/* Italic text */
em {
    color: var(--italic);
}


/* Headers */
h1, h2, h3, h4, h5 {
    font-weight: var(--header-font-weight);
}

h1 {
    font-size: 26px;
    color: var(--h1);
}

h2 {
    font-size: 23px;
    color: var(--h2);
}

h3 {
    font-size: 20px;
    color: var(--h3);
}

h4 {
    font-size: 17px;
    color: var(--h4);
}

h5 {
    font-size: 14px;
    color: var(--h5);
}


/* Links */
a {
    color: var(--link);
    text-decoration: none;
}

/* Lists */
::marker {
    color: var(--bold);
    font-weight: var(--list-font-weight);
}

/* Checkbox */
.checkbox-label-checked {
    text-decoration: line-through;
}


/* Blockquote */
blockquote {
    color: var(--blockquote) !important;
    border-left: 4px solid var(--blockquote);
}


/* Table elements */
table {
    font-size: var(--standard-font-size) !important;
    border: 3px solid var(--table-head-line) !important;
}

th {
    font-family: var(--font-mono) !important;
    border: 3px solid var(--table-head-line) !important;
}

td {
    font-family: var(--font-mono) !important;
    border: 1px solid var(--table-body-line) !important;
}


/* Code blocks */
.inline-code {
    font-weight: var(--code-font-weight) !important;
    background-color: var(--code-background) !important;
    padding: .1em .2em .1em .2em !important;
    border-radius: 3px !important;
}

.hljs {
    background-color: var(--code-background) !important;
    padding: 0.8rem;
    border-radius: 5px !important;
    margin: 0.4rem 0;
    overflow: scroll;
}

.code, code, pre {
    font-family: var(--font-mono) !important;
    font-weight: var(--code-font-weight) !important;
    font-size: 0.8rem;
    break-inside: avoid;
}


/* Katex */
.katex-html {
    font-size: 1.5em;
}
