/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/* Variables */
:root {
    /* Colors */
    --blockquote: #bb9af7;
    --bold: #ff9e64;
    --code-background: #14151f;
    --italic: #2ac3de;
    --h1: #dc8b09;
    --h2: #f6a523;
    --h3: #f8b954;
    --h4: #facd85;
    --h5: #fce1b6;
    --katex: #ed1d24;
    --katex-atom: #ffff77;
    --katex-variables: #ea57ff;
    --katex-punctuation: #f89554;
    --link-square-brackets: #80dfff;
    --link-text: #44d62c;
    --table-head-line: #828bb8;
    --table-body-line: #444a73;

    /* Fonts */
    --font-mono: "Fira Code", monospace;
    --standard-font-size: 14px;
    --code-font-weight: 650;
    --header-font-weight: 700;
    --list-font-weight:600;
    --table-font-weight: 800;
}


/* Bold text */
.cm-line > .tok-strong, .tok-strong.tok-meta {
    color: var(--bold) !important;
}


/* Italic text */
.cm-line > .tok-emphasis, .tok-emphasis.tok-meta {
    color: var(--italic) !important;
}


/* Headers */
.cm-h1 {
    color: var(--h1) !important;
    font-weight: var(--header-font-weight) !important;
    font-size: 22px !important;
}

.cm-h2 {
    color: var(--h2) !important;
    font-weight: var(--header-font-weight) !important;
    font-size: 20px !important;
}

.cm-h3 {
    color: var(--h3) !important;
    font-weight: var(--header-font-weight) !important;
    font-size: 18px !important;
}

.cm-h4 {
    color: var(--h4) !important;
    font-weight: var(--header-font-weight) !important;
    font-size: 16px !important;
}

.cm-h5 {
    color: var(--h5) !important;
    font-weight: var(--header-font-weight) !important;
}


/* Links */
.cm-line > .tok-link {
    color: var(--link-text) !important;
}

.cm-line > .tok-link.tok-meta {
    color: var(--link-square-brackets) !important;
    font-weight: var(--list-font-weight) !important;
}

.cm-url > .tok-link.tok-url {
    color: var(--link-text) !important;
}


/* Lists */
.cm-unorderedList > .tok-meta {
    color: var(--bold) !important;
    font-weight: var(--list-font-weight);
}

.cm-orderedList > .tok-meta {
    color: var(--bold) !important;
    font-weight: var(--list-font-weight);
}

.cm-taskMarker > .tok-atom {
    color: var(--bold) !important;
    font-weight: var(--list-font-weight);
}


/* Blockquote */
.cm-blockQuote {
    color: var(--blockquote) !important;
}


/* Table elements */
.cm-tableDelimiter.cm-line > .tok-meta {
    font-family: var(--font-mono) !important;
    font-weight: var(--table-font-weight) !important;
}


/* Code blocks */
.cm-inlineCode {
    font-family: var(--font-mono) ! important;
    background-color: var(--code-background) !important;
    padding: .1em .2em .1em .2em !important;
    border-radius: 3px !important;
    margin-left: 0em !important;
}

.cm-inlineCode > .tok-meta {
    font-weight: var(--code-font-weight);
}

.cm-codeBlock {
    font-family: var(--font-mono) ! important;
    background-color: var(--code-background) !important;
    padding: .1em .2em .1em .2em !important;
    border-radius: 3px !important;
    margin-left: 0em !important;
}

.cm-codeBlock > .tok-labelName, .tok-meta {
    font-weight: var(--code-font-weight);
}

.cm-codeBlock > .tok-labelName {
    font-weight: var(--code-font-weight);
}


/* Katex */
.cm-inlineMath {
    color: var(--katex) !important;
}

.cm-inlineMath > .tok-typeName {
    color: var(--katex-variables) !important;
}

.cm-inlineMath > .tok-punctuation {
    color: var(--katex-punctuation) !important;
}

.cm-mathBlock {
    color: var(--katex) !important;
}

.cm-mathBlock > .tok-typeName {
    color: var(--katex-variables) !important;
}

.cm-mathBlock > .tok-punctuation {
    color: var(--katex-punctuation) !important;
}

.cm-mathBlock > .tok-atom {
    color: var(--katex-atom)
}
